* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fonts{

    font-family: 'Kaushan Script', cursive;
}


#logoae{

    width: 200px;
    height: 50px;
    padding-left: 10px;
}

li > a:hover { 

    background-color: #c41ea8;
    border-radius: 20px;

}

main{

    background-color: rgba(71, 18, 18, 0.384);
    
}

.hmaind{

    min-height: 80vh;
}

#carouselExampleAutoplaying img {

    object-fit: cover;
    height: 100%;
    width: 100%;
}

.text-shadow{

    text-shadow: 1px 1px 5px black;
}

.whcard{

    width: 18rem;
    height: 22rem;

}

.cardaround{

    min-height: 250vh;

}

.hdivcards{

    min-height: 130vh;

}

.carousel-item {

    height: 50vh;

}

footer{

    min-height: 15vh;

}

.redsocial{

    width: 30px;
    height: 30px;
}

.wsearch{

    width: 300px;
}
.texth{

    font-size: 5rem;
}

.wreds{

    width: 300px;
}
@media only screen and (max-width: 550px) {

    .stext{
      font-size: 0.7rem;

    }
    .carousel-item {

        height: 30vh;
    
    }

}